.blueL2{color:#18aeff;}
.bg_blueL2{background-color:#18aeff;}
.blueL1{color:#64c9ff;}
.bg_blueL1{background-color:#64c9ff;}
.blue{color:#0083ca;}
.bg_blue{background-color:#0083ca;}
.blueD1{color:#00517e;}
.bg_blueD1{background-color:#00517e;}
.blueD2{color:#002031;}
.bg_blueD2{background-color:#002031;}
.greenL2{color:#c2f230;}
.bg_greenL2{background-color:#c2f230;}
.greenL1{color:#d7f678;}
.bg_greenL1{background-color:#d7f678;}
.green{color:#9ac80d;}
.bg_green{background-color:#9ac80d;}
.greenD1{color:#638008;}
.bg_greenD1{background-color:#638008;}
.greenD2{color:#2b3804;}
.bg_greenD2{background-color:#2b3804;}
.redL2{color:#e1343a;}
.bg_redL2{background-color:#e1343a;}
.redL1{color:#eb767a;}
.bg_redL1{background-color:#eb767a;}
.red{color:#ae1a1f;}
.bg_red{background-color:#ae1a1f;}
.redD1{color:#6b1013;}
.bg_redD1{background-color:#6b1013;}
.redD2{color:#290607;}
.bg_redD2{background-color:#290607;}
.yellowL2{color:#ffdb4d;}
.bg_yellowL2{background-color:#ffdb4d;}
.yellowL1{color:#ffeb99;}
.bg_yellowL1{background-color:#ffeb99;}
.yellow{color:#ffcc00;}
.bg_yellow{background-color:#ffcc00;}
.yellowD1{color:#b38f00;}
.bg_yellowD1{background-color:#b38f00;}
.yellowD2{color:#665200;}
.bg_yellowD2{background-color:#665200;}
.blueC{color:#ca4700;}
.green{color:#9ac80d;}
.greenC{color:#3b0dc8;}
.white{color:#ffffff;}
.gray6{color:#666666;}
.grayC{color:#ccc;}
