.tanL2{color:#e5dbd1;}
.tanL2_bg{background-color:#e5dbd1;}
.tanL2_bd{border-color:#e5dbd1 !important;}
.tanL1{color:#cab6a0;}
.tanL1_bg{background-color:#cab6a0;}
.tanL1_bd{border-color:#cab6a0 !important;}
.tan{color:#ae906f;}
.tan_bg{background-color:#ae906f;}
.tan_bd{border-color:#ae906f !important;}
.tanD1{color:#856a4b;}
.tanD1_bg{background-color:#856a4b;}
.tanD1_bd{border-color:#856a4b !important;}
.tanD2{color:#544330;}
.tanD2_bg{background-color:#544330;}
.tanD2_bd{border-color:#544330 !important;}
.redL2{color:#eb767a;}
.redL2_bg{background-color:#eb767a;}
.redL2_bd{border-color:#eb767a !important;}
.redL1{color:#e1343a;}
.redL1_bg{background-color:#e1343a;}
.redL1_bd{border-color:#e1343a !important;}
.red{color:#ae1a1f;}
.red_bg{background-color:#ae1a1f;}
.red_bd{border-color:#ae1a1f !important;}
.redD1{color:#6b1013;}
.redD1_bg{background-color:#6b1013;}
.redD1_bd{border-color:#6b1013 !important;}
.redD2{color:#290607;}
.redD2_bg{background-color:#290607;}
.redD2_bd{border-color:#290607 !important;}
.blueL2{color:#64c9ff;}
.blueL2_bg{background-color:#64c9ff;}
.blueL2_bd{border-color:#64c9ff !important;}
.blueL1{color:#18aeff;}
.blueL1_bg{background-color:#18aeff;}
.blueL1_bd{border-color:#18aeff !important;}
.blue{color:#0083ca;}
.blue_bg{background-color:#0083ca;}
.blue_bd{border-color:#0083ca !important;}
.blueD1{color:#00517e;}
.blueD1_bg{background-color:#00517e;}
.blueD1_bd{border-color:#00517e !important;}
.blueD2{color:#002031;}
.blueD2_bg{background-color:#002031;}
.blueD2_bd{border-color:#002031 !important;}
.greenL2{color:#d7f678;}
.greenL2_bg{background-color:#d7f678;}
.greenL2_bd{border-color:#d7f678 !important;}
.greenL1{color:#c2f230;}
.greenL1_bg{background-color:#c2f230;}
.greenL1_bd{border-color:#c2f230 !important;}
.green{color:#9ac80d;}
.green_bg{background-color:#9ac80d;}
.green_bd{border-color:#9ac80d !important;}
.greenD1{color:#638008;}
.greenD1_bg{background-color:#638008;}
.greenD1_bd{border-color:#638008 !important;}
.greenD2{color:#2b3804;}
.greenD2_bg{background-color:#2b3804;}
.greenD2_bd{border-color:#2b3804 !important;}
.yellowL2{color:#ffeb99;}
.yellowL2_bg{background-color:#ffeb99;}
.yellowL2_bd{border-color:#ffeb99 !important;}
.yellowL1{color:#ffdb4d;}
.yellowL1_bg{background-color:#ffdb4d;}
.yellowL1_bd{border-color:#ffdb4d !important;}
.yellow{color:#ffcc00;}
.yellow_bg{background-color:#ffcc00;}
.yellow_bd{border-color:#ffcc00 !important;}
.yellowD1{color:#b38f00;}
.yellowD1_bg{background-color:#b38f00;}
.yellowD1_bd{border-color:#b38f00 !important;}
.yellowD2{color:#665200;}
.yellowD2_bg{background-color:#665200;}
.yellowD2_bd{border-color:#665200 !important;}
.tanCL2{color:#d1dbe5;}
.tanCL2_bg{background-color:#d1dbe5;}
.tanCL2_bd{border-color:#d1dbe5 !important;}
.tanCL1{color:#a0b4ca;}
.tanCL1_bg{background-color:#a0b4ca;}
.tanCL1_bd{border-color:#a0b4ca !important;}
.tanC{color:#6f8dae;}
.tanC_bg{background-color:#6f8dae;}
.tanC_bd{border-color:#6f8dae !important;}
.tanCD1{color:#4b6785;}
.tanCD1_bg{background-color:#4b6785;}
.tanCD1_bd{border-color:#4b6785 !important;}
.tanCD2{color:#304154;}
.tanCD2_bg{background-color:#304154;}
.tanCD2_bd{border-color:#304154 !important;}
.redCL2{color:#76ebe7;}
.redCL2_bg{background-color:#76ebe7;}
.redCL2_bd{border-color:#76ebe7 !important;}
.redCL1{color:#34e1db;}
.redCL1_bg{background-color:#34e1db;}
.redCL1_bd{border-color:#34e1db !important;}
.redC{color:#1aaea9;}
.redC_bg{background-color:#1aaea9;}
.redC_bd{border-color:#1aaea9 !important;}
.redCD1{color:#106b68;}
.redCD1_bg{background-color:#106b68;}
.redCD1_bd{border-color:#106b68 !important;}
.redCD2{color:#062928;}
.redCD2_bg{background-color:#062928;}
.redCD2_bd{border-color:#062928 !important;}
.blueCL2{color:#ff9a64;}
.blueCL2_bg{background-color:#ff9a64;}
.blueCL2_bd{border-color:#ff9a64 !important;}
.blueCL1{color:#ff6918;}
.blueCL1_bg{background-color:#ff6918;}
.blueCL1_bd{border-color:#ff6918 !important;}
.blueC{color:#ca4700;}
.blueC_bg{background-color:#ca4700;}
.blueC_bd{border-color:#ca4700 !important;}
.blueCD1{color:#7e2c00;}
.blueCD1_bg{background-color:#7e2c00;}
.blueCD1_bd{border-color:#7e2c00 !important;}
.blueCD2{color:#311100;}
.blueCD2_bg{background-color:#311100;}
.blueCD2_bd{border-color:#311100 !important;}
.greenCL2{color:#9778f6;}
.greenCL2_bg{background-color:#9778f6;}
.greenCL2_bd{border-color:#9778f6 !important;}
.greenCL1{color:#6030f2;}
.greenCL1_bg{background-color:#6030f2;}
.greenCL1_bd{border-color:#6030f2 !important;}
.greenC{color:#3b0dc8;}
.greenC_bg{background-color:#3b0dc8;}
.greenC_bd{border-color:#3b0dc8 !important;}
.greenCD1{color:#260880;}
.greenCD1_bg{background-color:#260880;}
.greenCD1_bd{border-color:#260880 !important;}
.greenCD2{color:#110438;}
.greenCD2_bg{background-color:#110438;}
.greenCD2_bd{border-color:#110438 !important;}
.yellowCL2{color:#99adff;}
.yellowCL2_bg{background-color:#99adff;}
.yellowCL2_bd{border-color:#99adff !important;}
.yellowCL1{color:#4d70ff;}
.yellowCL1_bg{background-color:#4d70ff;}
.yellowCL1_bd{border-color:#4d70ff !important;}
.yellowC{color:#0033ff;}
.yellowC_bg{background-color:#0033ff;}
.yellowC_bd{border-color:#0033ff !important;}
.yellowCD1{color:#0024b3;}
.yellowCD1_bg{background-color:#0024b3;}
.yellowCD1_bd{border-color:#0024b3 !important;}
.yellowCD2{color:#001466;}
.yellowCD2_bg{background-color:#001466;}
.yellowCD2_bd{border-color:#001466 !important;}
.white{color:#ffffff;}
.white_bg{background-color:#ffffff;}
.white_bd{border-color:#ffffff;}
.grayE{color:#eeeeee;}
.grayE_bg{background-color:#eeeeee;}
.grayE_bd{border-color:#eeeeee;}
.grayD{color:#dddddd;}
.grayD_bg{background-color:#dddddd;}
.grayD_bd{border-color:#dddddd;}
.grayC{color:#cccccc;}
.grayC_bg{background-color:#cccccc;}
.grayC_bd{border-color:#cccccc;}
.grayB{color:#bbbbbb;}
.grayB_bg{background-color:#bbbbbb;}
.grayB_bd{border-color:#bbbbbb;}
.grayA{color:#aaaaaa;}
.grayA_bg{background-color:#aaaaaa;}
.grayA_bd{border-color:#aaaaaa;}
.gray9{color:#999999;}
.gray9_bg{background-color:#999999;}
.gray9_bd{border-color:#999999;}
.gray8{color:#888888;}
.gray8_bg{background-color:#888888;}
.gray8_bd{border-color:#888888;}
.gray7{color:#777777;}
.gray7_bg{background-color:#777777;}
.gray7_bd{border-color:#777777;}
.gray6{color:#666666;}
.gray6_bg{background-color:#666666;}
.gray6_bd{border-color:#666666;}
.gray5{color:#555555;}
.gray5_bg{background-color:#555555;}
.gray5_bd{border-color:#555555;}
.gray4{color:#444444;}
.gray4_bg{background-color:#444444;}
.gray4_bd{border-color:#444444;}
.gray3{color:#333333;}
.gray3_bg{background-color:#333333;}
.gray3_bd{border-color:#333333;}
.gray2{color:#222222;}
.gray2_bg{background-color:#222222;}
.gray2_bd{border-color:#222222;}
.gray1{color:#111111;}
.gray1_bg{background-color:#111111;}
.gray1_bd{border-color:#111111;}
.black{color:#000000;}
.black_bg{background-color:#000000;}
.black_bd{border-color:#000000;}
.color{width:100%;height:30px;}
