.tanL2{color:#e5dbd1;}
.tanL2_bg{background-color:#e5dbd1;}
.tanL1{color:#cab6a0;}
.tanL1_bg{background-color:#cab6a0;}
.tan{color:#ae906f;}
.tan_bg{background-color:#ae906f;}
.tanD1{color:#856a4b;}
.tanD1_bg{background-color:#856a4b;}
.tanD2{color:#544330;}
.tanD2_bg{background-color:#544330;}
.redL2{color:#eb767a;}
.redL2_bg{background-color:#eb767a;}
.redL1{color:#e1343a;}
.redL1_bg{background-color:#e1343a;}
.red{color:#ae1a1f;}
.red_bg{background-color:#ae1a1f;}
.redD1{color:#6b1013;}
.redD1_bg{background-color:#6b1013;}
.redD2{color:#290607;}
.redD2_bg{background-color:#290607;}
.blueL2{color:#64c9ff;}
.blueL2_bg{background-color:#64c9ff;}
.blueL1{color:#18aeff;}
.blueL1_bg{background-color:#18aeff;}
.blue{color:#0083ca;}
.blue_bg{background-color:#0083ca;}
.blueD1{color:#00517e;}
.blueD1_bg{background-color:#00517e;}
.blueD2{color:#002031;}
.blueD2_bg{background-color:#002031;}
.greenL2{color:#d7f678;}
.greenL2_bg{background-color:#d7f678;}
.greenL1{color:#c2f230;}
.greenL1_bg{background-color:#c2f230;}
.green{color:#9ac80d;}
.green_bg{background-color:#9ac80d;}
.greenD1{color:#638008;}
.greenD1_bg{background-color:#638008;}
.greenD2{color:#2b3804;}
.greenD2_bg{background-color:#2b3804;}
.yellowL2{color:#ffeb99;}
.yellowL2_bg{background-color:#ffeb99;}
.yellowL1{color:#ffdb4d;}
.yellowL1_bg{background-color:#ffdb4d;}
.yellow{color:#ffcc00;}
.yellow_bg{background-color:#ffcc00;}
.yellowD1{color:#b38f00;}
.yellowD1_bg{background-color:#b38f00;}
.yellowD2{color:#665200;}
.yellowD2_bg{background-color:#665200;}
.tanCL2{color:#d1dbe5;}
.tanCL2_bg{background-color:#d1dbe5;}
.tanCL1{color:#a0b4ca;}
.tanCL1_bg{background-color:#a0b4ca;}
.tanC{color:#6f8dae;}
.tanC_bg{background-color:#6f8dae;}
.tanCD1{color:#4b6785;}
.tanCD1_bg{background-color:#4b6785;}
.tanCD2{color:#304154;}
.tanCD2_bg{background-color:#304154;}
.redCL2{color:#76ebe7;}
.redCL2_bg{background-color:#76ebe7;}
.redCL1{color:#34e1db;}
.redCL1_bg{background-color:#34e1db;}
.redC{color:#1aaea9;}
.redC_bg{background-color:#1aaea9;}
.redCD1{color:#106b68;}
.redCD1_bg{background-color:#106b68;}
.redCD2{color:#062928;}
.redCD2_bg{background-color:#062928;}
.blueCL2{color:#ff9a64;}
.blueCL2_bg{background-color:#ff9a64;}
.blueCL1{color:#ff6918;}
.blueCL1_bg{background-color:#ff6918;}
.blueC{color:#ca4700;}
.blueC_bg{background-color:#ca4700;}
.blueCD1{color:#7e2c00;}
.blueCD1_bg{background-color:#7e2c00;}
.blueCD2{color:#311100;}
.blueCD2_bg{background-color:#311100;}
.greenCL2{color:#9778f6;}
.greenCL2_bg{background-color:#9778f6;}
.greenCL1{color:#6030f2;}
.greenCL1_bg{background-color:#6030f2;}
.greenC{color:#3b0dc8;}
.greenC_bg{background-color:#3b0dc8;}
.greenCD1{color:#260880;}
.greenCD1_bg{background-color:#260880;}
.greenCD2{color:#110438;}
.greenCD2_bg{background-color:#110438;}
.yellowCL2{color:#99adff;}
.yellowCL2_bg{background-color:#99adff;}
.yellowCL1{color:#4d70ff;}
.yellowCL1_bg{background-color:#4d70ff;}
.yellowC{color:#0033ff;}
.yellowC_bg{background-color:#0033ff;}
.yellowCD1{color:#0024b3;}
.yellowCD1_bg{background-color:#0024b3;}
.yellowCD2{color:#001466;}
.yellowCD2_bg{background-color:#001466;}
.white{color:#ffffff;}
.white_bg{background-color:#ffffff;}
.grayE{color:#eeeeee;}
.grayE_bg{background-color:#eeeeee;}
.grayD{color:#dddddd;}
.grayD_bg{background-color:#dddddd;}
.grayC{color:#cccccc;}
.grayC_bg{background-color:#cccccc;}
.grayB{color:#bbbbbb;}
.grayB_bg{background-color:#bbbbbb;}
.grayA{color:#aaaaaa;}
.grayA_bg{background-color:#aaaaaa;}
.gray9{color:#999999;}
.gray9_bg{background-color:#999999;}
.gray8{color:#888888;}
.gray8_bg{background-color:#888888;}
.gray7{color:#777777;}
.gray7_bg{background-color:#777777;}
.gray6{color:#666666;}
.gray6_bg{background-color:#666666;}
.gray5{color:#555555;}
.gray5_bg{background-color:#555555;}
.gray4{color:#444444;}
.gray4_bg{background-color:#444444;}
.gray3{color:#333333;}
.gray3_bg{background-color:#333333;}
.gray2{color:#222222;}
.gray2_bg{background-color:#222222;}
.gray1{color:#111111;}
.gray1_bg{background-color:#111111;}
.black{color:#000000;}
.black_bg{background-color:#000000;}
.color{width:100%;height:30px;}
