.f22_icon{font-family:'raptor-icons';}
.f22 label{display:none;float:left;border:1px solid #fff;padding:.75em 1em;font:0.875em/normal Arial,sans-serif;}
.ie9- .f22 label{display:block;}
.f22 input{position:relative;width:100%;height:auto;display:block;margin:0 0 1em 0;border:1px solid #aaaaaa;padding:.75em 1em;font:0.875em/1 Arial,sans-serif;color:#333333;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;}
.f22 input:hover,.f22 input:focus{outline:0;color:#000;}
.f22 input:hover{border-color:#666666;}
.f22 input:focus{border-color:#18aeff;}
.f22 .input_box{position:relative;display:block;width:100%;}
.ie9- .f22 .input_box .input{overflow:auto;}
.ie7- .input_box input{width:90%;}
.f22 input[disabled]{cursor:not-allowed;background-color:#eeeeee;border-color:#cccccc;}
.f22 ::-webkit-input-placeholder{color:#666666;}
.f22 :-ms-input-placeholder{color:#666666;}
.f22 input:focus::-webkit-input-placeholder{color:#aaaaaa;transition:text-indent 1s 2s ease;text-indent:-100%;}
.f22 input:focus::-moz-placeholder{color:#aaaaaa;}
.f22 input:focus:-ms-input-placeholder{color:#aaaaaa;}
.f22 input:hover::-webkit-input-placeholder{color:#000;}
.f22 input:hover::-moz-placeholder{color:#000;}
.f22 input:hover:-ms-input-placeholder{color:#000;}
.f22 input[disabled]::-webkit-input-placeholder{color:#aaaaaa;}
.f22 input[disabled]:-ms-input-placeholder{color:#aaaaaa;}
::selection{background-color:#18aeff;color:#fff;}
::-moz-selection{background-color:#18aeff;color:#fff;}
