.f22_g-1,.f22_g-1-2,.f22_g-1-3,.f22_g-2-3,.f22_g-1-4,.f22_g-3-4,.f22_g-1-5,.f22_g-2-5,.f22_g-3-5,.f22_g-4-5,.f22_g-1-6,.f22_g-5-6,.f22_g-1-8,.f22_g-3-8,.f22_g-5-8,.f22_g-7-8,.f22_g-1-12,.f22_g-5-12,.f22_g-7-12,.f22_g-11-12,.f22_g-1-24,.f22_g-5-24,.f22_g-7-24,.f22_g-11-24,.f22_g-13-24,.f22_g-17-24,.f22_g-19-24,.f22_g-23-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;float:left;}
.f22_g-1{display:block;width:100%;}
.f22_g-1-2{width:50%;}
.f22_g-1-3{width:33.33333%;}
.f22_g-2-3{width:66.66666%;}
.f22_g-1-4{width:25%;}
.f22_g-3-4{width:75%;}
.f22_g-1-5{width:20%;}
.f22_g-2-5{width:40%;}
.f22_g-3-5{width:60%;}
.f22_g-4-5{width:80%;}
.f22_g-1-6{width:16.656%;}
.f22_g-5-6{width:83.33%;}
.f22_g-1-8{width:12.5%;}
.f22_g-3-8{width:37.5%;}
.f22_g-5-8{width:62.5%;}
.f22_g-7-8{width:87.5%;}
.f22_g-1-12{width:8.3333%;}
.f22_g-5-12{width:41.6666%;}
.f22_g-7-12{width:58.3333%;}
.f22_g-11-12{width:91.6666%;}
.f22_g-1-24{width:4.1666%;}
.f22_g-5-24{width:20.8333%;}
.f22_g-7-24{width:29.1666%;}
.f22_g-11-24{width:45.8333%;}
.f22_g-13-24{width:54.1666%;}
.f22_g-17-24{width:70.8333%;}
.f22_g-19-24{width:79.1666%;}
.f22_g-23-24{width:95.8333%;}
