.uh1,.uh2,.uh3,.uh4,.uh5,.uh6,.uh7{font:900 1em/1.5em "BentonSansCond Regular",Arial,sans-serif;color:#000;margin:0 0 10px;text-transform:uppercase;}
.ssh1,.ssh2,.ssh3,.ssh4,.ssh5,.ssh6,.ssh7{font:1em/1.5em "BentonSansCond Regular",Arial,sans-serif;color:#000;margin:0 0 10px;}
.sssh1,.sssh2,.sssh3,.sssh4,.sssh5,.sssh6,.sssh7{font:1em/1.5em Arial,sans-serif;color:#666;margin:0 0 10px;}
.uh1,.ssh1,.sssh1{font-size:2.875em;line-height:1.04347826086957;}
.uh2,.ssh2,.sssh2{font-size:2.5em;line-height:1.05;}
.uh3,.ssh3,.sssh3{font-size:2.125em;line-height:1.05882352941176;}
.uh4,.ssh4,.sssh4{font-size:1.75em;line-height:1.07142857142857;}
.uh5,.ssh5,.sssh5{font-size:1.375em;line-height:1.09090909090909;}
.uh6,.ssh6,.sssh6{font-size:1.25em;line-height:1.25em;}
.uh7,.ssh7,.sssh7{font-size:0.75em;line-height:1;}
