/* ############################################################
   Button2 > BlueC
   ############################################################
	/* ==============================
	   Button2 > BlueC > BlueC L2
	   ============================== */
		.f22 .button2.blueCL2_bg:hover, .f22 .button2.blueCL2_bg:visited:hover{
			border-color: @blueCL1;
			background-color: @blueCL2;
			-webkit-box-shadow: 0px 0px 0px 1px @blueCL1;
			box-shadow: 0px 0px 0px 1px @blueCL1;
		}
		.f22 .button2.blueCL2_bg:active, .f22 .button2.blueCL2_bg:visited:active{
			border-color: @blueCL1;
			color: @white;
			background-color: @blueCL1;
		}
		.f22 .button2.blueCL2_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > BlueC > BlueC L1
	   ============================== */
		.f22 .button2.blueCL1_bg:hover, .f22 .button2.blueCL1_bg:visited:hover{
			color: @white;
			border-color: @blueC;
			background-color: @blueCL1;
			-webkit-box-shadow: 0px 0px 0px 1px @blueC;
			box-shadow: 0px 0px 0px 1px @blueC;
		}
		.f22 .button2.blueCL1_bg:active, .f22 .button2.blueCL1_bg:visited:active{
			border-color: @blueC;
			color: @white;
			background-color: @blueC;
		}
		.f22 .button2.blueCL1_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > BlueC > BlueC
	   ============================== */
		.f22 .button2.blueC_bg:hover, .f22 .button2.blueC_bg:visited:hover{
			color: @white;
			border-color: @blueCD1;
			background-color: @blueC;
			-webkit-box-shadow: 0px 0px 0px 1px @blueCD1;
			box-shadow: 0px 0px 0px 1px @blueCD1;
		}
		.f22 .button2.blueC_bg:active, .f22 .button2.blueC_bg:visited:active{
			border-color: @blueCD1;
			color: @white;
			background-color: @blueCD1;
		}
		.f22 .button2.blueC_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > BlueC > BlueC D1
	   ============================== */
		.f22 .button2.blueCD1_bg:hover, .f22 .button2.blueCD1_bg:visited:hover{
			color: @white;
			border-color: @blueCD2;
			background-color: @blueCD1;
			-webkit-box-shadow: 0px 0px 0px 1px @blueCD2;
			box-shadow: 0px 0px 0px 1px @blueCD2;
		}
		.f22 .button2.blueCD1_bg:active, .f22 .button2.blueCD1_bg:visited:active{
			border-color: @blueCD2;
			color: @white;
			background-color: @blueCD2;
		}
		.f22 .button2.blueCD1_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > BlueC > BlueC D2
	   ============================== */
		.f22 .button2.blueCD2_bg:hover, .f22 .button2.blueCD2_bg:visited:hover{
			color: @white;
			border-color: @black;
			background-color: @blueCD2;
			-webkit-box-shadow: 0px 0px 0px 1px @black;
			box-shadow: 0px 0px 0px 1px @black;
		}
		.f22 .button2.blueCD2_bg:active, .f22 .button2.blueCD2_bg:visited:active{
			border-color: @black;
			color: @white;
			background-color: @black;
		}
		.f22 .button2.blueCD2_bg:visited{
			background-color: @grayE;
		}