/* ############################################################
   Button2 > YellowC
   ############################################################
	/* ==============================
	   Button2 > YellowC > YellowC L2
	   ============================== */
		.f22 .button2.yellowCL2_bg:hover, .f22 .button2.yellowCL2_bg:visited:hover{
			color: @white;
			border-color: @yellowCL1;
			background-color: @yellowCL2;
			-webkit-box-shadow: 0px 0px 0px 1px @yellowCL1;
			box-shadow: 0px 0px 0px 1px @yellowCL1;
		}
		.f22 .button2.yellowCL2_bg:active, .f22 .button2.yellowCL2_bg:visited:active{
			border-color: @yellowCL1;
			color: @white;
			background-color: @yellowCL1;
		}
		.f22 .button2.yellowCL2_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > YellowC > YellowC L1
	   ============================== */
		.f22 .button2.yellowCL1_bg:hover, .f22 .button2.yellowCL1_bg:visited:hover{
			color: @white;
			border-color: @yellowC;
			background-color: @yellowCL1;
			-webkit-box-shadow: 0px 0px 0px 1px @yellowC;
			box-shadow: 0px 0px 0px 1px @yellowC;
		}
		.f22 .button2.yellowCL1_bg:active, .f22 .button2.yellowCL1_bg:visited:active{
			border-color: @yellowC;
			color: @white;
			background-color: @yellowC;
		}
		.f22 .button2.yellowCL1_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > YellowC > YellowC
	   ============================== */
		.f22 .button2.yellowC_bg:hover, .f22 .button2.yellowC_bg:visited:hover{
			color: @white;
			border-color: @yellowCD1;
			background-color: @yellowC;
			-webkit-box-shadow: 0px 0px 0px 1px @yellowCD1;
			box-shadow: 0px 0px 0px 1px @yellowCD1;
		}
		.f22 .button2.yellowC_bg:active, .f22 .button2.yellowC_bg:visited:active{
			border-color: @yellowCD1;
			color: @white;
			background-color: @yellowCD1;
		}
		.f22 .button2.yellowC_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > YellowC > YellowC D1
	   ============================== */
		.f22 .button2.yellowCD1_bg:hover, .f22 .button2.yellowCD1_bg:visited:hover{
			color: @white;
			border-color: @yellowCD2;
			background-color: @yellowCD1;
			-webkit-box-shadow: 0px 0px 0px 1px @yellowCD2;
			box-shadow: 0px 0px 0px 1px @yellowCD2;
		}
		.f22 .button2.yellowCD1_bg:active, .f22 .button2.yellowCD1_bg:visited:active{
			border-color: @yellowCD2;
			color: @white;
			background-color: @yellowCD2;
		}
		.f22 .button2.yellowCD1_bg:visited{
			background-color: @grayE;
		}
		
	/* ==============================
	   Button2 > YellowC > YellowC D2
	   ============================== */
		.f22 .button2.yellowCD2_bg:hover, .f22 .button2.yellowCD2_bg:visited:hover{
			color: @white;
			border-color: @black;
			background-color: @yellowCD2;
			-webkit-box-shadow: 0px 0px 0px 1px @black;
			box-shadow: 0px 0px 0px 1px @black;
		}
		.f22 .button2.yellowCD2_bg:active, .f22 .button2.yellowCD2_bg:visited:active{
			border-color: @black;
			color: @white;
			background-color: @black;
		}
		.f22 .button2.yellowCD2_bg:visited{
			background-color: @grayE;
		}