/* ==============================
   Button1 > Green
   ==============================
	/* ------------------------------
	   Button1 > Green > Green L2
	   ------------------------------ */
		.f22 .button1.greenL2_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @greenL1;
			box-shadow:  0px 5px 0px 0px @greenL1;
			background-color: @greenL2;
			color: @gray3;
		}
			.f22 .button1.greenL2_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @greenL1;
				box-shadow:  0px 4px 0px 0px @greenL1;
			}
			.f22 .button1.greenL2_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @greenL1;
				box-shadow:  0px 2px 0px 0px @greenL1;
			}
			.f22 .button1.greenL2_bg:visited{
				background-color: darken(@greenL2, 8%);
			}
			
	/* ------------------------------
	   Button1 > Green > Green L1
	   ------------------------------ */
		.f22 .button1.greenL1_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @green;
			box-shadow:  0px 5px 0px 0px @green;
			background-color: @greenL1;
			color: @gray3;
		}
			.f22 .button1.greenL1_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @green;
				box-shadow:  0px 4px 0px 0px @green;
			}
			.f22 .button1.greenL1_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @green;
				box-shadow:  0px 2px 0px 0px @green;
			}
			.f22 .button1.greenL1_bg:visited{
				background-color: darken(@greenL1, 8%);
			}
			
	/* ------------------------------
	   Button1 > Green > Green
	   ------------------------------ */
		.f22 .button1.green_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @greenD1;
			box-shadow:  0px 5px 0px 0px @greenD1;
			background-color: @green;
			color: @white;
		}
			.f22 .button1.green_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @greenD1;
				box-shadow:  0px 4px 0px 0px @greenD1;
			}
			.f22 .button1.green_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @greenD1;
				box-shadow:  0px 2px 0px 0px @greenD1;
			}
			.f22 .button1.green_bg:visited{
				background-color: darken(@green, 8%);
			}
			
	/* ------------------------------
	   Button1 > Green > Green D1
	   ------------------------------ */
		.f22 .button1.greenD1_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @greenD2;
			box-shadow:  0px 5px 0px 0px @greenD2;
			background-color: @greenD1;
			color: @white;
		}
			.f22 .button1.greenD1_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @greenD2;
				box-shadow:  0px 4px 0px 0px @greenD2;
			}
			.f22 .button1.greenD1_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @greenD2;
				box-shadow:  0px 2px 0px 0px @greenD2;
			}
			.f22 .button1.greenD1_bg:visited{
				background-color: darken(@greenD1, 8%);
			}
			
	/* ------------------------------
	   Button1 > Green > Green D2
	   ------------------------------ */
		.f22 .button1.greenD2_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @black;
			box-shadow:  0px 5px 0px 0px @black;
			background-color: @greenD2;
			color: @white;
		}
			.f22 .button1.greenD2_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @black;
				box-shadow:  0px 4px 0px 0px @black;
			}
			.f22 .button1.greenD2_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @black;
				box-shadow:  0px 2px 0px 0px @black;
			}
			.f22 .button1.greenD2_bg:visited{
				background-color: darken(@greenD2, 8%);
			}