/* ==============================
   Button1 > Red
   ==============================
	/* ------------------------------
	   Button1 > Red > Red L2
	   ------------------------------ */
		.f22 .button1.redL2_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @redL1;
			box-shadow:  0px 5px 0px 0px @redL1;
			background-color: @redL2;
			color: @gray3;
		}
			.f22 .button1.redL2_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @redL1;
				box-shadow:  0px 4px 0px 0px @redL1;
			}
			.f22 .button1.redL2_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @redL1;
				box-shadow:  0px 2px 0px 0px @redL1;
			}
			.f22 .button1.redL2_bg:visited{
				background-color: darken(@redL2, 8%);
			}
			
	/* ------------------------------
	   Button1 > Red > Red L1
	   ------------------------------ */
		.f22 .button1.redL1_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @red;
			box-shadow:  0px 5px 0px 0px @red;
			background-color: @redL1;
			color: @white;
		}
			.f22 .button1.redL1_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @red;
				box-shadow:  0px 4px 0px 0px @red;
			}
			.f22 .button1.redL1_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @red;
				box-shadow:  0px 2px 0px 0px @red;
			}
			.f22 .button1.redL1_bg:visited{
				background-color: darken(@redL1, 8%);
			}
			
	/* ------------------------------
	   Button1 > Red > Red
	   ------------------------------ */
		.f22 .button1.red_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @redD1;
			box-shadow:  0px 5px 0px 0px @redD1;
			background-color: @red;
			color: @white;
		}
			.f22 .button1.red_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @redD1;
				box-shadow:  0px 4px 0px 0px @redD1;
			}
			.f22 .button1.red_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @redD1;
				box-shadow:  0px 2px 0px 0px @redD1;
			}
			.f22 .button1.red_bg:visited{
				background-color: darken(@red, 8%);
			}
			
	/* ------------------------------
	   Button1 > Red > Red D1
	   ------------------------------ */
		.f22 .button1.redD1_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @redD2;
			box-shadow:  0px 5px 0px 0px @redD2;
			background-color: @redD1;
			color: @white;
		}
			.f22 .button1.redD1_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @redD2;
				box-shadow:  0px 4px 0px 0px @redD2;
			}
			.f22 .button1.redD1_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @redD2;
				box-shadow:  0px 2px 0px 0px @redD2;
			}
			.f22 .button1.redD1_bg:visited{
				background-color: darken(@redD1, 8%);
			}
			
	/* ------------------------------
	   Button1 > Red > Red D2
	   ------------------------------ */
		.f22 .button1.redD2_bg{
			-webkit-box-shadow:  0px 5px 0px 0px @black;
			box-shadow:  0px 5px 0px 0px @black;
			background-color: @redD2;
			color: @white;
		}
			.f22 .button1.redD2_bg:hover{
				-webkit-box-shadow:  0px 4px 0px 0px @black;
				box-shadow:  0px 4px 0px 0px @black;
			}
			.f22 .button1.redD2_bg:active{
				-webkit-box-shadow:  0px 2px 0px 0px @black;
				box-shadow:  0px 2px 0px 0px @black;
			}
			.f22 .button1.redD2_bg:visited{
				background-color: darken(@redD2, 8%);
			}